numpy
pandas
opencv-python
mediapipe==0.10.9
torch
torchvision
fastapi
uvicorn[standard]
python-multipart
cryptography
pymorphy3
transformers>=4.40
datasets>=2.18
accelerate>=0.29
sentencepiece>=0.2
safetensors>=0.4
scikit-learn
matplotlib
pillow
tqdm
